altair==4.2.2
Django==4.2.1
gensim==4.3.0
googletrans==3.1.0a0
matplotlib==3.7.1
networkx==3.0
newsapi==0.1.1
newsapi_python==0.2.7
nltk==3.8.1
notebook==6.5.2
numpy==1.24.2
pandas==1.5.3
Pillow==9.5.0
plotly==5.13.1
pyLDAvis==3.4.1
pyvis==0.3.2
PyYAML==6.0
scipy==1.10.1
seaborn==0.12.2
snscrape==0.6.1.20230314
streamlit==1.19.0
streamlit_authenticator==0.2.1
streamlit_extras==0.2.7
wordcloud==1.8.2.2
