asgiref==3.6.0
asttokens==2.2.1
asyncio==3.4.3
attrs==23.1.0
Automat==22.10.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
branca==0.6.0
cachetools==5.3.1
CD==1.1.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
constantly==15.1.0
contourpy==1.0.7
cryptography==40.0.2
cssselect==1.2.0
cycler==0.11.0
dateparser==1.1.8
decorator==5.1.1
distlib==0.3.6
Django==4.2.1
django-taggit==3.1.0
entrypoints==0.4
executing==1.2.0
extras==1.0.0
facebook-scraper==0.2.59
Faker==18.10.1
favicon==0.7.0
filelock==3.12.2
folium==0.14.0
fonttools==4.40.0
fst-pso==1.8.1
funcy==2.0
FuzzyTM==2.0.5
gender-guesser==0.4.0
gensim==4.3.0
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
h2==3.2.0
hpack==3.0.0
htbuilder==0.6.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
incremental==22.10.0
install==1.3.5
instaloader==4.9.6
ipython==8.12.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpickle==3.0.1
jsonschema==4.17.3
kiwisolver==1.4.4
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
miniful==0.0.6
more-itertools==9.1.0
networkx==3.1
newsapi==0.1.1
newsapi-python==0.2.7
nltk==3.8.1
notebook==6.5.2
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
packaging==23.1
pandas==1.5.3
parsel==1.8.1
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.6.12
platformdirs==3.5.3
playwright==1.34.0
plotly==5.13.1
priority==1.3.0
prompt-toolkit==3.0.38
Protego==0.2.1
protobuf==3.20.3
proxyscrape==0.3.0
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydeck==0.8.1b0
PyDispatcher==2.0.7
pyee==9.0.4
pyFUME==0.2.25
Pygments==2.15.1
pyLDAvis==3.4.1
pymdown-extensions==10.0.1
Pympler==1.0.1
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyvis==0.3.2
PyYAML==6.0
queuelib==1.6.2
regex==2023.6.3
requests==2.30.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rich==13.4.2
Sastrawi==1.0.1
scikit-learn==1.2.2
scipy==1.10.1
Scrapy==2.9.0
scrapy-playwright==0.0.26
scrapy-proxy-pool==0.1.9
scrapy-user-agents==0.1.1
seaborn==0.12.2
service-identity==21.1.0
simpful==2.11.0
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
soupsieve==2.4.1
sqlparse==0.4.4
st-annotated-text==4.0.0
stack-data==0.6.2
statsmodels==0.13.5
streamlit==1.23.1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.5
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-folium==0.11.1
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-tags==1.2.8
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tenacity==8.2.2
textblob==0.17.1
threadpoolctl==3.1.0
tldextract==3.4.0
toml==0.10.2
toolz==0.12.0
torch==2.0.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
tweepy==4.14.0
Twisted==22.10.0
typing-extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ua-parser==0.16.1
urllib3==1.26.15
user-agents==2.2.0
validators==0.20.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
w3lib==2.1.1
watchdog==3.0.0
wcwidth==0.2.6
zipp==3.15.0
zope.interface==6.0
cd